defaultHook:
  beneficiary: "$DEPLOYER_ADDRESS"
  oracleConfig:
    source:
      gasPrice: "1000000007"
      tokenDecimals: 18
      tokenExchangeRate: "11000000000"
  oracleKey: "$DEPLOYER_ADDRESS"
  overhead:
    source: 75000
  owner: "$DEPLOYER_ADDRESS"
  type: interchainGasPaymaster
defaultIsm:
  relayer: "$VALIDATOR_ADDRESS"
  type: trustedRelayerIsm
owner: "$DEPLOYER_ADDRESS"
proxyAdmin:
  owner: "$DEPLOYER_ADDRESS"
requiredHook:
  type: merkleTreeHook